input, textarea {
    padding: 0 15px;
}

.email {
    width: 315px;
    height: 45px;
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    background-color: #FFFFFF;
    outline: none;
    display: block;
}


.psw {
    width: 467px;
    height: 45px;
    border: 1px solid #FF0000;
    border-radius: 15px;
    background-color: #610000;
    outline: none;
    display: block;
    color: #F07272;
}

.psw::placeholder {
    color: #F07272;
}

.number {
    width: 541px;
    height: 45px;
    border: 1px solid #A8AB00;
    border-radius: 5px;
    outline: none;
    display: block;
}

.number::placeholder {
    color: #A8AB00;
}

.text {
    width: 315px;
    height: 45px;
    border: 2px solid #F9FE03;
    border-radius: 30px;
    background-color: #292828;
    outline: none;
    display: block;
    color: #F9FE03;
}

.text::placeholder {
   color: #F9FE03; 
}
